.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input {
    display: flex;
    width: 307px;
    padding: 18px 0px 18px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--border-color-secondary);
    outline: 0;
    font-size: 14px;
    font-family: Poppins;
}

.emailIcon,
.passwordIcon {
    background-repeat: no-repeat;
    background-position: 26px center;
}

.emailIcon {
    background-image: url('../../assets/email.svg');
}
  
.passwordIcon {
    background-image: url('../../assets/password.svg');
}

@media (max-width: 480px) {
    .input {
        width: 100%;
    }
}